<h1>Your new friend {{user?.userName}}!Maybe in future you will travel together!</h1>

  <div class="Info">
    <div>{{user?.userName}}</div>
    <div>Age: {{user?.age}}</div>
  </div>
   <br>
  <div class="divider"></div>

  <div class="Info">
    <h5>Contact information:</h5> 
    <br>
    <div>Email: {{user?.email}} </div>
    <br>
  </div>
  <div class="Info"> 
    <h5>Location:</h5>
    <br>
    <div>{{user?.city}} </div>
    <br>
  </div>
  <div class="Info"> 
    <br>
    <div>Skills:  {{user?.skills}} </div>
    <div>Interests:  {{user?.interests}} </div>
    <br>
  </div>
