.userProfile{
    text-align: center;
    background-color: #b3e0ff;
    margin-top: 0px;
    padding:0px;
}

.background{
    background-color: #b3e0ff;
}

.button change profile{
    background-color: #b3e0ff;
}

.Data{
    background-color: #ffe6f2;
    margin-right: 400px; 
    margin-left: 400px; 
    padding-bottom: -20px;

    
}
