<div class = "background"><h1>Hello, {{user?.userName}}!</h1> 

<div class="userProfile">
  <div class="Data">
    <div>Age: {{user?.age}}</div>
  </div>
   <br>
  <div class="divider"></div>

  <div class="Data">
    <div>Email: {{user?.email}} </div>
  </div>
  <br>
  <div class="Data"> 
    <div>City:</div>
    <div>{{user?.city}}</div>
  </div>
  <br>
  <div class="Data"> 
    <div>Job:  {{user?.job}} </div>
  </div>
  <br>
  <div class="Data"> 
    <div>Skills:  {{user?.skills}} </div>
  </div>
    <br>
    <div class="Data"> 
      <div>Interests:  {{user?.interests}} </div>
    </div>
    <br>
 <div>
        <button class="button change profile"><a routerLink ="/change-profile">Edit profile></a></button>
</div>
</div>
<br> 
</div>
