<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="countries">
    <thead class="table table-striped">
      <tr class='table table-striped'>
        <th>CountryName</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: #ffe6f2;" *ngFor="let country of countries">
        <td>{{country.countryName}}</td>
        <td><div>
          <a [routerLink]="['/country-menu']">
              <button class="btn btn-primary" (click)="setId(country.id)"> View country-menu</button>
          </a>
      </div></td>
      </tr>
    </tbody>
  </table>
 
<br> 