
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="friends">
    <thead class="table table-striped">
      <tr class='table table-striped'>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: #ffe6f2" *ngFor="let friend of friends">
        <td>{{friend.userName}}</td>
        <td>{{friend.email}}</td>
        <td><div>
          <a [routerLink]="['/friend-profile']">
              <button class="btn btn-primary" (click)="setId(friend.id)"> View profile</button>
          </a>
      </div></td>
      </tr>
    </tbody>
  </table>
 
<br> 