<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
      <tr>
        <th>Username</th>
        <th>Age</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{   user.userName }}</td>
        <td>{{   user.Age }}</td>
        <td>{{   user.email }}</td>
        <td><div>
            <a>
                <button class="btn btn-primary" (click)="deleteUser(user.id)">Delete user</button>
            </a>
        </div></td>
      </tr>
    </tbody>
  </table>
