/* a.navbar-brand {
  white-space: normal;
  text-align: end;
  word-break: break-all;
  color: red;
  background-color: pink;
} */

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  color: red;
}

.container{
  background-color: rgb(218, 237, 255);
}

.navbar-nav{
  margin-right: 500px
}

