<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/user-profile']">Profile</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/friend-list']"
              >Friends</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/country-list']"
              >Countries</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/friend-search']"
              >Search</a
            >
          </li>
          <!-- <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAdmin">
            <a class="nav-link text-dark" [routerLink]="['/admin']"
              >Admin Panel</a
            >
          </li> -->
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="IsAuthorized">
            <a class="nav-link text-dark" [routerLink]="['/login']"
            (click)="onLogout()" > Log Out </a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="!IsAuthorized">
            <a class="nav-link text-dark" [routerLink]="['/login']"
            (click)="onLogout()" > Log in </a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
