<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="cities">
    <thead class="table table-striped">
      <tr class='table table-striped'>
        <th>CityName</th>
      </tr>
    </thead>
    <tbody>
      <tr style="background-color: #ffe6f2;" *ngFor="let city of cities">
        <td>{{city.cityName}}</td>
        <td><div>
          <a [routerLink]="['/challenge-list']">
              <button class="btn btn-primary" (click)="setId(city.id)"> View challenges</button>
          </a>
      </div></td>
      </tr>
    </tbody>
  </table>
 
<br> 