
    <form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit(service.formModel.value)">
        <div class="form-group required">
          <label>Username</label>
          <input class="form-control" formControlName="UserName">
          <label class="text-danger" *ngIf="service.formModel.get('UserName').touched && service.formModel.get('UserName').errors?.required">This
            field is mandatory.</label>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" formControlName="Email">
          <label class="text-danger" *ngIf="service.formModel.get('Email').touched && service.formModel.get('Email').errors?.email">Invalid
            email address.</label>
        </div>
        <div formGroupName="Passwords">
          <div class="form-group required">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="Password">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.required">This
              field is mandatory.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.Password').touched && service.formModel.get('Passwords.Password').errors?.minlength">Minimum
              4 characters required.</label>
          </div>
          <div class="form-group required">
            <label>Confirm Password</label>
            <input type="password" class="form-control" formControlName="ConfirmPassword">
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
              field is mandatory.</label>
            <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
              Password does not match.</label>
          </div>
        </div>
        <div class="form-group">
          <label>Age</label>
          <input class="form-control" formControlName="Age">
        </div>
        <div class="form-group">
          <label>City</label>
          <input class="form-control" formControlName="City">
        </div>
        <div class="form-group">
          <label>Job</label>
          <input class="form-control" formControlName="Job">
        </div>
        <div class="form-group">
          <label>Interests</label>
          <input class="form-control" formControlName="Interests">
        </div>
        <div class="form-group">
          <label>Skills</label>
          <input class="form-control" formControlName="Skills">
        </div>
        <div class="form-row">
          <div class="form-group col-md-8 offset-md-2">
            <button type="submit" class="btn btn-lg btn-block"[disabled]="!service.formModel.valid">Register</button>  
        </div>
        </div>
      </form>
      <div>
        <a [routerLink]="['/login']">
            <button class="btn btn-primary">Login</button>
        </a>
      </div>