<div class="button-container">
  <a [routerLink]="['/city-list']">
    <button class="view-button">View cities</button>
  </a>
    <button class="start-button" (click)="addCurentCountry()">Start game</button>
  </div>