.button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  button {
    display: block;
    width: 400px;
    height: 200px;
    border-radius: 4-px;
    background-color: #ffe6f2;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border: none;
    outline: none;
  }
  
  .start-button {
    margin-right: 20px;
  }
  
  .view-button {
    margin-right: 20px;
  }
  