<form [formGroup]="profileFormModel" autocomplete="off" (submit)="onSubmit(profileFormModel.value)">
    <div class="form-group">
      <label>Email</label>
      <input class="form-control" type = "text" [(ngModel)]="user.email" formControlName="email">
    </div>
    <div class="form-group">
      <label>UserName</label>
      <input class="form-control" [(ngModel)]="user.userName" formControlName="userName">
    </div>
    <div class="form-group">
      <label>Age</label>
      <input class="form-control" [(ngModel)]="user.age" formControlName="age">
    </div>
    <!-- <div class="form-group">
      <label>Password</label>
      <input class="form-control" [(ngModel)]="user.Password" formControlName="Password">
    </div> -->
    <div class="form-group">
      <label>City</label>
      <input class="form-control" [(ngModel)]="user.city" formControlName="city">
    </div>
    <div class="form-group">
      <label>Skills</label>
      <input class="form-control" [(ngModel)]="user.skills" formControlName="skills">
    </div>
    <div class="form-group">
      <label>Job</label>
      <input class="form-control" [(ngModel)]="user.job" formControlName="job">
    </div>
    <div class="form-group">
      <label>Interests</label>
      <input class="form-control" [(ngModel)]="user.interests" formControlName="interests">
    </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block">Update</button>
    </div>
    </div>
  </form>