 <form [formGroup]="searchFormModel" autocomplete="off" (submit)="search(searchFormModel.value)">
  <label style ="color: white; margin-left: 300px">Here you can find a lot of interesting people in IT sphere!</label>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" formControlName="UserName">
    </div>
    <div class="form-group">
    <label>City</label>
    <select  formControlName="City">
      <option value="Kyiv">Kyiv</option>
      <option value="Odessa">Odessa</option>
      <option value="Lviv">Lviv</option>
    </select>
  </div>
  <div class="form-group">
    <label>Job</label>
    <select  formControlName="Job">
      <option value="middle .NET developer">middle .NET developer</option>
      <option value="junior .NET developer">junior .NET developer</option>
      <option value="senior .NET developer">senior .NET developer</option>
      <option value="java developer">java developer</option>
    </select>
  </div>
  <div class="form-group">
    <label>Age from </label>
    <input class="form-control" formControlName="MinAge">
  </div>
  <div class="form-group">
    <label>Age to</label>
    <input class="form-control" formControlName="MaxAge">
  </div>
    <div class="form-row">
      <div class="form-group col-md-8 offset-md-2">
        <button type="submit" class="btn btn-lg btn-block">Search</button>  
    </div>
    </div>
  </form>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="searchResults">
      <thead>
        <tr>
          <th>UserName</th>
          <th>Age</th>
          <th>City</th>
          <th>Job</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of searchResults">
          <td>{{   user.userName }}</td>
          <td>{{   user.age }}</td>
          <td>{{   user.city }}</td>
          <td>{{   user.job }}</td>
          <td><div>
                <button class="btn btn-primary" (click)="addFriend(user)">Add </button>
        </div></td>
        </tr>
      </tbody>
    </table>
  