.app-challenge-container {
  position: relative;
  background-color: #ffe6f2;;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  height: 200px;
  width: 250px;
  overflow: hidden;
  padding: 10px;
  transition: all 0.5s;
  margin: 10px;
  line-height: 1.5em;
}

.app-challenge-container:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px #ffe6f2;;
}

.app-challenge-container.enlarge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 500px;
  padding: 60px;
  font-size: 1.5em;
  white-space: normal;
  line-height: 1.5em;
}

.app-challenge-content {
  padding: 10px;
  margin-bottom: 20px;
}

.file-upload-container {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file-upload-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
  margin-bottom: 20px;
}

.file-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  align-self: flex-start;
}


.file-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.submit-button {
  position: absolute;
  bottom: 50px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}


