<div class="challenge-list-container" *ngIf="challenges">
  <div class="challenge-container" *ngFor="let challenge of challenges">
    <app-challenge [description]="challenge.challengeDescription" *ngIf="!isCurrentCountry"></app-challenge>
    <app-challenge-upload  [description]="challenge.challengeDescription" [taskId]="challenge.id" *ngIf="isCurrentCountry"></app-challenge-upload>
  </div>
</div>